@inject IDataMigrations DataMigrations
@if (DataMigrations.SkippedMigrations)
{
    <div class="alert alert-error alert-dismissible">
        <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-hidden="true">×</button>
    
    </div>
}